a:link {color: white; text-decoration: none; cursor: default;}      /* unvisited link */
a:visited {color: black; text-decoration: none; cursor: default;}   /* visited link */
a:hover {color: white; text-decoration: none; cursor: default;}     /* mouse over link */
a:active {color: black; text-decoration: none; cursor: default;}

.side{
padding: 10px 20px;
background-color: #1E88E5;
border: 0px;
color: #fff;
}
.side:hover{
background-color: #fff;
border: 1px solid #1E88E5;
color: #1E88E5;
}


html, body {
    height: 100%;
    margin: 0px;
}
.contain {
    height: 100%;
    background: #f0e68c;
}